.main__header {
    display : flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    font-size: 20px;
}

.main__header ul {
    list-style: none;
    padding : 3%;
}

.main__header li {
    float : left;
    padding-top : 2%;
    padding-right: 30px;
}

.logNoli {
    color : blue;
    cursor: pointer;
}